<div class="jumbotron mt-5 p-5">
  <h1 class="display-4">Base de données partagée par Fable-Lab</h1>
  <p class="lead">Ces données sont diffusées de manière structurée selon une licence ouverte garantissant leur libre accès et leur réutilisation par tous, sans restriction technique, juridique ou financière.</p>
  <p class="lead">Les données ouvertes portent sur des sujets et des formats très divers. Il peut s’agir, par exemple, d'illustrations, de traductions, d'histoires ou d'enregistrements audio.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg mt-2" href="#" role="button">Bientôt disponible</a>
  </p>
</div>
