$font-family-sans-serif:
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

.resources-thumb-card {
  // height: 250px;
}

.resources-thumb-header {
  height: 220px;
}

.resources-thumb-img {
  height: 220px;
  object-fit: cover;
}

.resource-img {
  max-height: 400px;
  object-fit: cover;
}

.resources-thumb-card-slug {
  font-size: 0.9em;
}

.resources-thumb-header-display {
  font-weight: 600;
  font-family: $font-family-sans-serif; // system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
}
