.resources-thumb-card {
  // height: 250px;
}

.resources-thumb-header {
  height: 220px;
}

.resources-thumb-img {
  height: 220px;
  object-fit: cover;
}

.resource-img {
  max-height: 400px;
  object-fit: cover;
}
